.code {
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 0.75rem;

}

.code-wrapper {
    margin-bottom: 36px
}

.line {
    display: table-row;
}

.line-content {
    display: table-cell;
}

.line-number {
    display: table-cell;
    width: 30px;
    text-align: right;
    padding-right: 1rem;
    font-size: 0.9em;
    user-select: none;
    opacity: 0.5;
}

.caption {
    font-size: 0.8rem;
    text-align: center;
}