.content {
    color: var(--color-text);
    font-family: Montserrat;
}

.content h1 {
    margin-top: 0px;
    font-size: var(--fontSize-5);
}

.content h2 {
    font-size: var(--fontSize-3);
}

.series-title {
    font-size: 0.8em;
    margin-right: 5px;
    font-weight: 400;
    color: var(--color-primary);
    text-transform: uppercase;
}