.content {

}

.title {
    font-size: 27px;
    font-weight: bold;
    font-family: "Arial";
}

.title a {
    color: black !important;
    text-decoration: none !important;
}

.sub-title {
    color: #888;
    font-family: Montserrat;
    margin-top: 10px;
    font-size: 16px;
}

.menu {
    margin: 0px;
    padding: 10px 20px;
    background-color: black;
}

.menu > li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px 0 0;
}

.menu-link {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
    color: white;
    box-sizing: border-box;
}

.menu-link:hover {
    border-bottom: 1px solid currentColor;
}

.menu-link-active {
    border-bottom: 1px solid currentColor;
}

.contacts {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    list-style: none;
    padding: 0;
    margin: 0;

}

.contact-link {
    border-radius: 50%;
    border: 1px solid #ebebeb;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    margin: 3px;
}

.contact-link:hover {
    color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
    .content {
        width: 270px;
    }

    .menu {
        margin-top: 30px;
        background-color: transparent;
        padding: 0px;
    }

    .menu > li {
        display: block;
        margin: 0 0 18px 0;
    }

    .menu-link {
        font-size: 1rem;
        color: var(--color-text);
        height: 28px;
    }

    .menu-link:hover {
        color: var(--color-primary);
    }

    .menu-link-active {
        color: var(--color-text);
        border-bottom: 1px solid var(--color-primary);
    }
}

@media screen and (max-width: 1023px) {
    .contacts, .title, .sub-title {
        display: none;
    }
}